<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="orne_box">
  
  <!-- 元のファイルのインクルード -->
  <xacro:include filename="$(find orne_box_description)/urdf/orne_box.urdf.xacro"/>

  <!-- RFans-16のインクルード -->
  <xacro:include filename="$(find orne_box_description)/urdf/sensors/rfans.urdf.xacro"/>
  
  <!-- GNSSとカメラのインクルード -->
  <xacro:include filename="$(find orne_box_description)/urdf/sensors/gnss.urdf.xacro"/> 
  <xacro:include filename="$(find orne_box_description)/urdf/sensors/camera.urdf.xacro"/>

  <!-- RFans-16センサー設定 -->
  <xacro:VLP-16 name="surestar" parent="base_link" topic="/rfans_points" organize_cloud="false" hz="10" samples="440" gpu="false">
    <origin xyz="-0.12 0.0 0.60" rpy="0 0 0"/>
  </xacro:VLP-16>

  <!-- GNSSセンサー設定 -->
  <xacro:sensor_gnss name="gnss" parent="base_link">
    <origin xyz="-0.12 0.12 0.9" rpy="0 0 0"/>
  </xacro:sensor_gnss>

  <!-- カメラセンサー設定 -->
  <xacro:sensor_camera name="camera" parent="base_link">
    <origin xyz="-0.08 0.0 0.8" rpy="0 0.38 0"/>
  </xacro:sensor_camera>

</robot>
